# macOS files
.DS_Store
Thumbs.db

# eclipse files
.classpath
.project
.settings
.springBeans
*.launch

# idea files 
.idea
*.ipr
*.iml

# maven target dir
target


# dependencies
/node_modules
src/main/resources/frontend/node_modules/

node
node

.factorypath
/.apt_generated/
